@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&family=Satisfy&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Oswald";
  font-size: 16px;
  line-height: 1.5;
  background-color: #000;
}

.section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}



.book-section {
  background-color: #3792b9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.book {
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.cover {
  width: 300px;
  height: 400px;
  background-color: #0e3648;
  -webkit-box-shadow: 1px 1px 10px #0e3648;
          box-shadow: 1px 1px 10px #0e3648;
}
@media (max-width: 991.98px) {
  .cover {
    width: 200px;
    height: 300px;
  }
}
@media (max-width: 500px) {
  .cover {
    width: 130px;
    height: 230px;
  }
}

.cover-title {
  height: 100px;
  font-size: 40px;
  font-family: "Satisfy";
  font-weight: 700;
  text-transform: uppercase;
  color: #033247;
  text-shadow: 2px 2px 3px #000;
}
@media (max-width: 500px) {
  .cover-title {
    font-size: 20px;
  }
}

.cover,
.page {
  display: block;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%) rotateX(20deg);
          transform: translateX(-50%) translateY(-50%) rotateX(20deg);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transform-origin: center left;
      -ms-transform-origin: center left;
          transform-origin: center left;
  will-change: transform;
  -webkit-transition: all 0.8s linear;
  -o-transition: all 0.8s linear;
  transition: all 0.8s linear;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
}

.open {
  -webkit-transform: translateY(-50%) rotateX(20deg);
          transform: translateY(-50%) rotateX(20deg);
}

.page {
  width: 297px;
  height: 394px;
  background-color: #fff;
  -webkit-box-shadow: inset 1px 0 2px black, inset 0px 1px 2px rgba(0, 0, 0, 0.5), inset -1px 0px 2px rgba(0, 0, 0, 0.5), inset 0px -1px 2px rgba(0, 0, 0, 0.5);
          box-shadow: inset 1px 0 2px black, inset 0px 1px 2px rgba(0, 0, 0, 0.5), inset -1px 0px 2px rgba(0, 0, 0, 0.5), inset 0px -1px 2px rgba(0, 0, 0, 0.5);
}
@media (max-width: 991.98px) {
  .page {
    width: 197px;
    height: 294px;
  }
}
@media (max-width: 500px) {
  .page {
    width: 127px;
    height: 224px;
  }
}

.cover-front,
.cover-back,
.page-front,
.page-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 10px 30px;
}
.page-front:after,
.page-back:after {
  content: attr(data-page);
  display: block;
  font-size: 10px;
  position: absolute;
  bottom: 5px;
}

.cover-front,
.page-front {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cover-front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cover-back,
.page-back {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.page-front:after {
  right: 5px;
}

.page-back:after {
  left: 5px;
}

.page-inner {
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  overflow: hidden;
  min-width: 0;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page p {
  font-family: "Satisfy";
  color: #000;
}

.page-image {
  margin: 10px auto;
  height: 20%;
}
.page-image img {
  display: block;
  border-radius: 5px;
  max-height: 100%;
}

.page-title {
  text-align: center;
  font-size: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .page-title {
    font-size: 16px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
  }
}

.page-text {
  font-size: 16px;
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-height: 168px;
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .page-text {
    max-height: 105px;
    font-size: 10px;
  }
}

.change {
  -webkit-transform: translateY(-50%) rotateX(20deg) rotateY(-180deg);
          transform: translateY(-50%) rotateX(20deg) rotateY(-180deg);
}
